#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    flex-direction: column;
}

#overlay #timer {
    color: #fff;
    font-size: 24px;
}

#overlay #text {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 2%;
}