.scomments-widget {
    margin: 0;
    height: 100%;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    color: #273337;
    padding: 0;
}
.scomments-widget-box {
    background-color: #fff;
    margin: 0 20px 20px 20px;
    padding: 20px;
    box-shadow: 0 0 10px #949494;
}
.scomments {
    color: #3c452d;
}
.scomments-item {
    margin: 10px 0;
    padding: 12px 8px 12px 12px;
    border: 1px solid #ccc;
}
.scomments-vote {
    float: right;
}
.scomments-country {
    color: #777;
}
.scomments-date {
    color: #777;
}
.scomments-doctor-name {
    color: #3366ff;
    font: bold 1em Verdana,Arial,Sans-Serif
}
.scomments-user-name {
    color: #36f;
    font: bold 1em Verdana, Arial, Sans-Serif;
}
.scomments-guest-name {
    color: #3c452d;
    font: bold 1em Verdana, Arial, Sans-Serif;
}
.scomments-doctor-pro {
    color: #3c452d;
    font: bold 1em Verdana, Arial, Sans-Serif;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 5px 12px;
    padding: 10px 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.scomments-item-images-toogle {
    text-align: center;
    padding: 10px;
    background-color: #fff5cc;
    margin-bottom: 5px;
    display: block;
}
.scomments-item-images {
    display: none;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.scomments-item-images img {
    height: 112px;
    margin: 5px 5px 5px 0;
}
.scomments-add {
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#dedede));
    background-image: -moz-linear-gradient(top,white,#dedede);
    background-image: -o-linear-gradient(top,white,#dedede);
    background-image: -ms-linear-gradient(top,white,#dedede);
    background-image: linear-gradient(top,white,#dedede);
    border: #CCC solid 1px;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    overflow: hidden;
    color: #36f;
    padding: 7px 0;
    border-radius: 3px;
    display: block;
    text-align: center;
    text-decoration: none !important;
    font-size: 18px;
    width: 99%;
    margin-top: 5px;
}
.scomments-add:hover {
    background-color: #5A77D2;
}
.scomments a {
    color: #777;
    text-decoration: none;
    border: none;
}
.scomments a:active, .scomments a:focus, .scomments a:hover {
    color: #cc0000;
}
.scomments a:link, .scomments a:visited, .scomments a:hover {
    outline: none;
    z-index: 100;
}
.scomments-item {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.scomments-text {
    margin: 7px 0 10px 0;
    padding-right: 24px;
    font-size: 110%;
}
.scomments-marker {
    margin-left: 7px;
    margin-right: 6px;
    position: relative;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    font-size: 4px;
    display: inline-block;
}
.scomments-marker:after{
    position: absolute;
    content: "";
    top: 0.3em;
    left: 0em;
    width: 0em;
    height: 0em;
    border-top: 0.9em solid rgba(44, 44, 44, 0);
    border-bottom: 0.9em solid transparent;
    border-left: 1.4em solid #ccc;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.scomments-marker:before{
    border: 0.5em solid #ccc;
    content: "";
    position: absolute;
    top: -0.8em;
    left: -1.40em;
    display: block;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
}
.comments-avatar-doctor {
    margin-top: 3px;
    float: left;
}
.comments-avatar-doctor img {
    width: 28px;
}
.comments-avatar-registered {
    margin-top: 9px;
    float: left;
    font-size: 18px;
    top: 0.5em;
    border-radius: 0.7em 0.7em 0 0;
    background: #8aa3f0;
    width: 1.5em;
    height: 0.8em;
    position: relative;
}
.comments-avatar-registered::before {
    position: absolute;
    content: "";
    top: -0.9em;
    left: 0.38em;
    width: 0.8em;
    height: 0.85em;
    border-radius: 50%;
    background: #FFDEAD;
}
.comments-avatar-guest {
    margin-top: 9px;
    float: left;
    font-size: 18px;
    top: 0.5em;
    border-radius: 0.7em 0.7em 0 0;
    background: #ccc;
    width: 1.5em;
    height: 0.8em;
    position: relative;
}
.comments-avatar-guest::before {
    position: absolute;
    content: "";
    top: -0.9em;
    left: 0.38em;
    width: 0.8em;
    height: 0.85em;
    border-radius: 50%;
    background: #ccc;
}
.good_comm .comments-avatar-guest::before,.good_comm .comments-avatar-registered::before {
    background: #8af78f !important;
}
.bad_comm .comments-avatar-guest::before,.bad_comm .comments-avatar-registered::before {
    background: #f44336 !important;
}
@media only screen and (max-device-width: 568px) and (min-device-width: 320px){
    .checked_comm {
        display: block;
    }
}
.comments-content {
    margin-left: 34px;
}
.scomments-button-edit {
    margin-left: 10px;
    float: right;
}
.scomments-button-quote {
    text-align: right;
}
.scomments-control {
    margin-top: 5px;
    padding-top: 7px;
    border-top: 1px solid #ccc;
}
.scomments-control a {
    display: inline-block;
    margin: 0 2px 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url(/templates/comments/image/toolbar.gif);
}
.scomments-control-msg {
    display: none;
    margin: 0 0 10px 0;
    color: red;
}
.scomments-control-edit {
    background-position: 0 0;
}
.scomments-control-delete {
    background-position: 0 -16px;
}
.scomments-control-unpublish {
    background-position: 0 -32px;
}
.scomments-control-publish {
    background-position: 0 -48px;
}
.scomments-control-blacklist {
    background-position: 0 -80px;
}
.scomments-control-ip {
    vertical-align: top;
    margin: 0 5px 0 12px;
}
.scomments-vote {
    margin: -5px 0 0 0;
    text-transform: uppercase;
}
.scomments-vote-poor span {
    color: #CC0000;
    margin-left: 5px;
}
.scomments-vote-good span {
    color: #339900;
    margin-left: 5px;
}
.scomments-vote a {
    margin-left: 10px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 20px;
    position: relative;
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#DEDEDE));
    background-image: -moz-linear-gradient(top,white,#DEDEDE);
    background-image: -o-linear-gradient(top,white,#DEDEDE);
    background-image: -ms-linear-gradient(top,white,#DEDEDE);
    background-image: linear-gradient(top,white,#DEDEDE);
    border: #CCC solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #849B9F;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    text-transform: uppercase;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 10px;
    padding: 0px 5px;
    line-height: 19px;
}

.scomments-form {
    margin-top: 9px;
}
.scomments-form textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
}


@media screen and (max-width: 480px) {
    .scomments-form .mob-spike {
        font-size: small;
        padding-left: 20px;
    }
    .scomments-form .colLeft {
        width: 180px;
    }
    .scomments-form textarea {
        width: 98%;
    }
    .subscribe
    {
        font-size: 14px !important;
    }
    .scomments-form label {
        font-size: 14px;
    }
}


.scomments-form blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 5px 12px;
    padding: 10px 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.scomments-form blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.scomments-form blockquote a {
    color: #777;
    text-decoration: none;
    border: none;
}

.scomments-form blockquote a:active, .scomments-form blockquote a:focus, .scomments-form blockquote a:hover {
    color: #cc0000;
}

.scomments-form blockquote a:link, .scomments-form blockquote a:visited, .scomments-form blockquote a:hover {
    outline: none;
}


.scomments-form #guest_name {
    border: 1px solid #aaa;
    margin-top: 3px;
    padding: 3px;
    width: 172px;
}


.scomments-form .colClear {
    clear: both;
    border: 1px dotted #ccc;
    margin: 10px 0;
}

.scomments-form .colLeft {
    width: 180px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.scomments-form .colLeft p {
    margin: 0;
    padding: 0;
    color: #777;
    font-size: 14px;
    padding-left: 4px;
}


.scomments-form .colRight li h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    color: #444;
    line-height: 18px;
}

.scomments-form .colRight ul, .scomments-form .colRight li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #777;
}

.scomments-form .colRight li {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 10px;
}

.scomments-form .colRight li h4>b {
    color: #0681CB;
    padding-right: 4px;
}

.scomments-form .colRight a:hover {
    color: #FF1E1E;
}

.scomments-form .colRight a {
    color: #1E90FF;
}

.scomments-form #slider {
    margin: 15px 20px 0 20px;
}

.scomments-form .row-slide img {
    height: 92px;
}

.scomments-form .remove-slide {
    position: absolute;
    margin: 4px;
    width: 16px;
    height: 16px;
    background-image: url('/images/remove.png');
}

.scomments-form .row-slide {
    margin: 10px;
    height: 92px;
}

.scomments-form #msg {
    padding: 7px 7px 6px 7px;
    margin-bottom: 14px;
    display: none;
    border-radius: 4px;
}

.scomments-form .msg-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec;
    color: #cd0a0a;
}

.scomments-form .msg-success {
    border: 1px solid #f1486f;
    background: #ffedfc;
    color: #363636;
}


.scomments-form #percent {
    display: none;
    padding-left: 20px;
    background: url('/templates/comments/image/loader.gif') left center no-repeat;
}

.scomments-form .loader {
    display: none;
    background: url('/templates/comments/image/loader.gif') left center no-repeat;
    padding-left: 20px;
}

.scomments-form form {
    margin: 0;
    padding: 0;
}

.scomments-form label {
    display: block;
    margin: 0 0 2px 0;
    padding-left: 3px;
    color: #A9A9A9;
}

.scomments-form h4 {
    margin: 11px;
}

.scomments-form .notice {
    background-color: #FFDCC6;
    color: #E63D00;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #FF4400;
    margin-top: 17px;
}

.scomments-form #submit {
    width: 100%;
    margin: 15px 0 0 0;
    border: 1px solid #999;
    background-color: #999;
    color: #fff;
    padding: 7px 0;
    border-radius: 2px;
    cursor: pointer;
    font-size: large;
}

.scomments-form #submit:hover {
    background-color: #666;
}

.scomments-form .field {
    border: 1px solid #aaa;
    margin: 3px 0;
    padding: 3px;
    width: 172px;
    border-radius: 4px;
}

.scomments-form .starSelect {
    background-color: #FFF;
    text-indent: 0.01px;
    text-overflow: '';
    height: 35px;
    line-height: 15px;
}

.scomments-form header {
    color: #fff;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    background-position: 9px center;
    background-repeat: no-repeat;
    background-color: #999;
    height: 20px;
}
