.main-comments li {
  width: 43%;
  margin: 0 2% 2% 0;
  min-height: 180px;
}

.main-comments li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  _height: 84px;
  list-style: none;
  padding: 0 13px 13px 13px;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background: #fbfbfb;
}

.main-comments {
  overflow: hidden;
  padding: 0;
}

